<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<button class="btn" id="J_UploadPictureBtn">Upload Picture</button>
<hr>
<p>Uploading progress: <span id="J_UploadProgress">0</span>%</p>
<p>Upload Picture:</p>
<div id="J_PicturePreview" class="preview-picture"></div>
</body>
<script src="/javascript/index.js"></script>
</html>